<!DOCTYPE html>
<html
  lang="{{ .Site.LanguageCode }}"
  dir="{{ .Site.Language.LanguageDirection | default "ltr" }}"
  {{ if eq .Site.Params.colorScheme "dark" }}class="dark"{{ end }}
>
  <head>
    {{- partial "head" . }}
  </head>

  <body class="flex min-h-screen flex-col">
    <header class="min-h-16 pl-scrollbar z-50 flex w-full items-center">
      <div class="mx-auto w-full max-w-screen-xl">
        {{- partial "header" . -}}
      </div>
    </header>
    <main class="grow">
      {{- if or .IsHome (and (eq .Type "authors") (eq .Kind "term")) }}
        {{- block "main" . }}{{- end }}
      {{- else }}
        <div class="pl-scrollbar">
          <div class="mx-auto w-full max-w-screen-xl lg:px-4 xl:px-8">
            {{- block "main" . }}{{- end }}
          </div>
        </div>
      {{ end }}
    </main>
    <footer class="pl-scrollbar">
      <div class="mx-auto w-full max-w-screen-xl">
        {{- partial "footer" . -}}
      </div>
    </footer>
    {{- $eurekaJS := resources.Get "js/eureka.js" | resources.ExecuteAsTemplate "js/eureka.js" . | minify }}
    <script src="{{ $eurekaJS.RelPermalink }}"></script>
    <script>
      const storageColorScheme = localStorage.getItem('lightDarkMode');
      const element = document.getElementById('lightDarkMode');
      {{- if eq .Site.Params.colorScheme "light" }}
      const defaultTheme = 'Light';
      const toRemove = 'fa-sun';
      if ((storageColorScheme === 'Auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) || storageColorScheme === 'Dark') {
        document.querySelector('html').classList.add('dark');
      }
      {{- else if eq .Site.Params.colorScheme "dark" }}
      const defaultTheme = 'Dark';
      const toRemove = 'fa-moon';
      if ((storageColorScheme === 'Auto' && window.matchMedia('(prefers-color-scheme: light)').matches) || storageColorScheme === 'Light') {
        document.querySelector('html').classList.remove('dark');
      }
      {{- else }}
      const defaultTheme = 'Auto';
      const toRemove = 'fa-adjust';
      if (((storageColorScheme === 'Auto' || storageColorScheme == null) && window.matchMedia('(prefers-color-scheme: dark)').matches) || storageColorScheme === 'Dark') {
        document.querySelector('html').classList.add('dark');
      }
      {{- end }}
      const dataIcon = (storageColorScheme === 'Light' ? 'sun' : (storageColorScheme === 'Dark' ? 'moon' : 'adjust'));
      if (storageColorScheme && storageColorScheme !== defaultTheme) {
        element.firstElementChild.classList.remove(toRemove);
        element.firstElementChild.setAttribute('data-icon', dataIcon);
        element.firstElementChild.classList.add('fa-' + dataIcon);
      }
      if (storageColorScheme === 'Auto' || (defaultTheme === 'Auto' && storageColorScheme == null)) {
        document.addEventListener('DOMContentLoaded', () =>
          window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', switchDarkMode));
      }

      document.addEventListener('DOMContentLoaded', () => {
        getColorScheme();
        switchBurger();
        {{- if .IsTranslated }}
        switchLanguage();
        {{- end }}
      });
    </script>
    {{- if not .IsHome }}
    <link rel="stylesheet" href="{{ .Site.Data.assets.fancybox.css.url }}">
    <script src="{{ .Site.Data.assets.fancybox.js.url }}"></script>
    <script>
      document.querySelectorAll('main article img:not(.nofancybox)').forEach((el, key) => {
        const alt = el.alt;
        const src = el.src;
        if (alt) {
          const tmp = document.createElement('span');
          tmp.classList.add('caption');
          tmp.innerText = alt;
          el.after(tmp);
        }
        const wrapper = document.createElement('a');
        wrapper.setAttribute('href', src);
        wrapper.setAttribute('title', alt);
        wrapper.setAttribute('data-fancybox', 'gallery');
        wrapper.setAttribute('rel', 'gallary' + key);
        el.parentElement.insertBefore(wrapper, el);
        wrapper.appendChild(el);
      });
    </script>
    {{- end }}
  </body>
</html>
