.object-contain {
  object-fit: contain !important;
}

.pagination {
  @apply flex justify-center;
}

.pagination .page-item {
  @apply flex items-center;
}

.pagination .page-item .page-link {
  @apply m-2 p-2;
}

.pagination .active {
  @apply text-eureka;
}

.pagination .page-item:not(.disabled):hover {
  @apply text-eureka;
}

.selected-menu-item {
  @apply text-eureka;
  border-top-color: var(--color-eureka);
  border-bottom-color: transparent;
}

.caption {
  display: block;
  font-size: .9em;
  margin-top: .3em;
  position: relative;
  text-align: center;
}

.search-box-wrapper {
  height: 44px;
  width: 100%;
  border: 1px solid var(--color-tertiary-text);
  border-radius: 24px;
  display: flex;
}

.search-box-wrapper > div {
  padding: 0px 20px 0 14px;
  display: flex;
  flex: 1;
}

.search-icon-wrapper {
  display: flex;
  align-items: center;
  padding-right: 13px;
}

#search-box {
  background-color: inherit;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

#search-box:focus {
  outline: 0;
}

#result-title {
  margin-top: 20px;
  color: var(--color-tertiary-text);
}
