<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ define "partials/get-title" }}
{{ $separator := .Site.Params.titleSeparator | default "|" }}
{{ $primarySep := $separator }}
{{ $secondarySep := $separator }}
{{ if reflect.IsSlice $separator }}
{{ $primarySep = index $separator 0 }}
{{ $secondarySep = index $separator 1 | default (index $separator 0) }}
{{ end }}
{{ $title := .Site.Title }}
{{/*  Generate prefix  */}}
{{ $prefix := "" }}
{{ if .Params.Title }}
{{ $prefix = .Params.Title }}
{{ $layout := partial "utils/hyphenate" (.Layout | default .Type) }}
{{ if and (eq .Type "docs") (ne $layout "doc-list") }}
{{ $docTitle := "" }}
{{ $bundles := partial "utils/get-bundles" . }}
{{ range $bundles.Reverse }}
{{ $version := findRE "v?(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?" (path.Base .Permalink) }}
{{ $parentLayout := partial "utils/hyphenate" (.Parent.Layout | default .Parent.Type) }}
{{ $layout := partial "utils/hyphenate" (.Layout | default .Type) }}
{{ if and (eq $parentLayout "doc-list") (ne $layout "doc-list") }}
{{ $docTitle = .Title }}
{{ else if $version }}
{{ $docTitle = .Title }}
{{ end }}
{{ end }}
{{/*  Doc title  */}}
{{ $version := findRE "v?(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?" (path.Base .Permalink) }}
{{/*  Deprecation warning(v1.0.0) starts */}}
{{ $parentLayout := partial "utils/hyphenate" (.Parent.Layout | default .Parent.Type) }}
{{/*  Deprecation warning(v1.0.0) ends */}}
{{ if or (eq $parentLayout "doc-list") $version }}
{{ $prefix = $docTitle }}
{{ else }}
{{ $prefix = print $prefix " " $secondarySep " " $docTitle }}
{{ end }}
{{ end }}
{{ end }}
{{/*  Add prefix  */}}
{{ with $prefix }}
{{ $title = print . " " $primarySep " " $title }}
{{ end }}
{{ return $title }}
{{ end }}
<title>{{ partial "get-title" . }}</title>

{{- $eurekaCSS := resources.Get "css/eureka.css" | postCSS (dict "config" "./assets/css/postcss.config.js") | resources.ExecuteAsTemplate "css/eureka.css" . | minify }}
<link rel="stylesheet" href="{{ $eurekaCSS.RelPermalink }}">

{{- $assets := .Site.Data.assets }}

{{- $enableCodeHighlight := false }}
{{- if .Site.Params.highlight.handler }}
  {{- $bundles := partial "utils/get-bundles" . }}
  {{- range $bundles.Reverse }}
    {{- if and (ne .Params.enableCodeHighlight nil) (ne .Params.enableCodeHighlight "") }}
      {{- $enableCodeHighlight = .Params.enableCodeHighlight }}
    {{- end }}
  {{- end }}
{{- end }}

{{/* highlight */}}
{{- if $enableCodeHighlight }}
{{- if eq .Site.Params.highlight.handler "chroma" }}
{{- $highlightCSS := resources.Get "css/syntax.css" | minify }}
<link rel="stylesheet" href="{{ $highlightCSS.RelPermalink }}" media="print" onload="this.media='all'">
{{- else if eq .Site.Params.highlight.handler "highlightjs" }}
{{- $highlightjsStyle := .Site.Params.highlight.highlightjs.style | default "default" }}
<link rel="stylesheet" href="{{ printf $assets.highlightjs.css.url $highlightjsStyle }}"
  media="print" onload="this.media='all'">
<script defer src="{{ $assets.highlightjs.js.url }}"></script>
{{- end }}
{{- end }}

{{ $fontawesomeJS := resources.Get "js/fontawesome.js" | resources.ExecuteAsTemplate "js/fontawesome.js" . | js.Build (dict "minify" true) | minify }}
<script defer type="text/javascript" src="{{ $fontawesomeJS.RelPermalink }}"></script>


{{- $enableMath := false }}
{{- if .Site.Params.math.handler }}
  {{- $bundles := partial "utils/get-bundles" . }}
  {{- range $bundles.Reverse }}
    {{- if and (ne .Params.enableMath nil) (ne .Params.enableMath "") }}
      {{- $enableMath = .Params.enableMath }}
    {{/* Deprecation warning(v1.0.0) starts */}}
    {{- else if and (ne .Params.math nil) (ne .Params.math "") }}
      {{ warnf "Param 'math' in %q is deprecated and will be removed in Eureka v1.0.0. Please use 'enableMath' instead." .File.Path }}
      {{- $enableMath = .Params.math }}
    {{/* Deprecation warning(v1.0.0) ends */}}
    {{- end }}
  {{- end }}
{{- end }}

{{/*  KaTeX  */}}
{{- if and (eq .Site.Params.math.handler "katex") $enableMath }}
<link rel="stylesheet" href="{{ $assets.katex.css.url }}" media="print"
  onload="this.media='all'">
<script defer src="{{ $assets.katex.js.url }}"></script>
<script defer src="{{ $assets.katex.autoRender.url }}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(document.body, {
      delimiters: [
        { left: "$$", right: "$$", display: true },
        { left: "$", right: "$", display: false },
        { left: "\\(", right: "\\)", display: false },
        { left: "\\[", right: "\\]", display: true }
      ],
      {{- partial "utils/get-js-configs" .Site.Params.math.katex | safeJS }}
    });
  });
</script>
{{- end }}

{{- $enableDiagram := false }}
{{- if .Site.Params.diagram.handler }}
  {{- $bundles := partial "utils/get-bundles" . }}
  {{- range $bundles.Reverse }}
    {{- if and (ne .Params.enableDiagram nil) (ne .Params.enableDiagram "") }}
      {{- $enableDiagram = .Params.enableDiagram }}
    {{- end }}
  {{- end }}
{{- end }}

{{/*  Mermaid  */}}
{{- if and (eq .Site.Params.diagram.handler "mermaid") $enableDiagram }}
<script defer src="{{ $assets.mermaid.js.url }}"></script>
{{- with .Site.Params.diagram.mermaid }}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    mermaid.initialize({
      {{- partial "utils/get-js-configs" . | safeJS }}
    });
  });
</script>
{{- end }}
{{- end }}

{{- if and .Site.GoogleAnalytics hugo.IsProduction }}
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', '{{ .Site.GoogleAnalytics }}');
</script>
{{- end }}

{{ partial "custom-head" . }}

{{- with .Site.Params.icon }}
<link rel="icon" type="image/png" sizes="32x32" href="{{ (partial "get-icon" (dict "icon" . "size" 32)).RelPermalink }}">
<link rel="icon" type="image/png" sizes="48x48" href="{{ (partial "get-icon" (dict "icon" . "size" 48)).RelPermalink }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ (partial "get-icon" (dict "icon" . "size" 192)).RelPermalink }}">
<link rel="apple-touch-icon" type="image/png" sizes="167x167" href="{{ (partial "get-icon" (dict "icon" . "size" 167)).RelPermalink }}">
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ (partial "get-icon" (dict "icon" . "size" 180)).RelPermalink }}">
{{- end }}

{{ define "partials/get-icon" }}
{{ $icon := resources.GetMatch .icon }}
{{ $iconResized := $icon.Fill (printf "%sx%s Center" (string .size) (string .size)) }}
{{ return $iconResized }}
{{ end }}

{{- partial "components/schema" . }}
{{- partial "components/opengraph" . }}
{{- range .AlternativeOutputFormats }}
{{- printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{- end }}
